<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Path" value="password.txt"/>
		<add key="SqlLog" value="false"/>
		<add key="LogLevel" value="All"/>
		<add key="DatabaseType" value="SQLite"/>
		<add key="DatabaseConStr" value="Database/System.db"/>
		<add key="SerIP" value="127.0.0.1"/>
		<add key="SerPort" value="504"/>
		<add key="PtSerIP" value="127.0.0.1"/>
		<add key="PtSerPort" value="504"/>
		<add key="Printer1" value="101"/>
		<add key="Printer2" value="102"/>
		<add key="SerIPForPrint1" value="192.168.1.200"/>
		<add key="SerPortForPrint1" value="9100"/>
		<add key="SerIPForPrint2" value="192.168.1.200"/>
		<add key="SerPortForPrint2" value="9101"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="WebServiceUri" value="http://10.25.0.24:8095/AutoPastingBarcode/AutoPastingBarcodeService?"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="JobManagementWebServiceSoapBinding" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://172.17.200.189:8888/mycim2/services/JobManagementWebService"
    binding="basicHttpBinding" bindingConfiguration="JobManagementWebServiceSoapBinding"
    contract="SRWebJao.JobManagementWebService" name="JobManagementWebService" />
  </client>
 </system.serviceModel>
</configuration>
